<div class="user-comment">
    <p><%= comment.author %> - <%= comment.created_at %></p>
    <p><%= comment.message %></p>
<% if(comment.user_id === user_id) { %>
    <div>
        <button type="button" name="edit-comment" comment-id="<%= comment.comment_id %>">Edit</button>
        <button type="button" name="delete-comment" comment-id="<%= comment.comment_id %>"  is-processing="0">Delete</button>
    </div>
<% } %>
</div> 