<div class="user-post">
    <hr />
    <p><%= post.author %> - <%= post.created_at %></p>
    <p><%= post.content %></p>
<% if(post.user_id === user_id) { %>
    <div>
        <button type="button" name="edit-post" post-id="<%= post.id %>">Edit</button>
        <button type="button" name="delete-post" post-id="<%= post.id %>"  is-processing="0">Delete</button>
    </div>
<% } %>
    <div>
        <div class="comments">
            <%- include("comments.template.ejs", {post}) %>
        </div>
    </div>
</div> 