<div class="header">
    <h3>Welcome <%= data?.user_details?.first_name || "Guest" %>, <a href="/api/users/logout">logout</a></h3>
</div>
<div class="content">
    <h4>Create Post</h4>
    <form action="/api/messages/create" id="create-post" is-processing="0">
        <textarea name="content" cols="40" rows="10"></textarea>
        <input type="hidden" name="message_type" value="posts">
        <p>
            <small>
                <button type+"submit">Submit</button>
            </small>
        </p>
    </form>

    <div class="posts">
    <% for(let index in data.posts || []){ 
        let post = data.posts[index]; %>    
        <div class="post">
            <p><%= post.content %></p>
            <p>
                <small>
                    <%= post.author %> | <%= post.created_at %>
            <%  if(post.user_id === data?.user_details?.id) { %>
                    <a href="/messages/<%= post.post_id %>" class="edit-post">Edit</a>

                <%  if(post.is_deletable === 1) { %> 
                    <a href="#" message-id="<%= post.post_id %>" class="delete-post">Delete</a>
            <%      }
                } %>
                </small>
            </p>
            <ul class="comments">
        <%  let comments = post.post_comments ? JSON.parse(post.post_comments) : [];
            
            for(let idx in comments){
                let comment = comments[idx]; %>
                <li>
                    <p><%= comment.content %></p>
                    <p>
                        <small>
                            <%= comment.author %> | <%= comment.created_at %>

                    <%  if(comment.user_id === data?.user_details?.id) { %>
                            <a href="/messages/<%= post.post_id %>/<%= comment.comment_id %>" class="edit-post">Edit</a>

                        <%  if(comment.is_deletable === 1) { %> 
                            <a href="#" message-id="<%= comment.comment_id %>" class="delete-comment">Delete</a>
                    <%      }
                        } %>
                        </small>
                    </p>
                </li>
        <%  } %>
                <li class="comment-form">
                    <p>Add Comment:</p>
                    <form action="/api/messages/create" class="create-comment" is-processing="0">
                        <textarea name="content" cols="40" rows="5"></textarea>
                        <input type="hidden" name="message_type" value="comments">
                        <input type="hidden" name="post_id" value="<%= post.post_id %>">
                        <p>
                            <small>
                                <button type+"submit">Submit</button>
                            </small>
                        </p>
                    </form>
                </li>
            </ul>
        </div>

    <% } %>
    </div>
</div>